name: Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      
    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 22
        
    - name: Install dependencies
      run: npm i

    - name: Upload artifacts to tag
      uses: xresloader/upload-to-github-release@2bcae85344d41e21f7fc4c47fa2ed68223afdb49
      with:
        file: ./*
        draft: false
